.blog-header {
    width: 100%;
    padding: calc(var(--font-tiny) / 2 + 2px);
    background-color: var(--header-background-color);
    animation: header-background-image-anim 4s infinite linear,
    var(--header-move-anim-check, header-background-position-anim) 6s infinite linear;
    background-size: calc(var(--font-big) * 2) calc(var(--font-big) * 2) ;
    background-position-y: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 75px;
    box-shadow: inset 0 8px 32px -4px var(--header-background-color); 
    position: relative;
}

.blog-header > .blog-header-cover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--header-shade-start-color) 0, var(--header-shade-end-color) 100%);
    opacity: 50%;
    z-index: 0;
}

.blog-header > section {
    width: 100%;
    max-width: var(--content-width-limit);
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.blog-header > section > span {
    width: 100%;
    color: var(--header-text-color);
    text-align: justify;
}

.top-picks {
    display: flex;
    gap: var(--font-tiny);
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    max-width: var(--content-width-limit);
    margin-top: var(--font-huge);
    padding: var(--font-tiny);
    box-sizing: border-box;
    list-style: none;
}

.top-picks > a {
    flex: 1 1;
    min-width: 360px;
    background-color: var(--post-background-color);
    border: 1px solid var(--main-fade-color);
    border-radius: 4px;
    padding: calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    text-decoration: none;
    color: var(--post-text-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: calc(var(--font-tiny) / 2);
    transition-duration: 0.1s;
}

.top-picks > a > *{
    pointer-events: none;
}

.top-picks > a:hover {
    border-color: var(--main-text-color);
}


.top-picks > a > section {
    width: 100%;
    display: flex;
    gap: var(--font-tiny);
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
}

.top-picks > a > section > img {
    width: calc(var(--font-bigger) * 4);
    height: calc(var(--font-bigger) * 4);
    border-radius: 4px;
}

.top-picks > a > section > cite {
    width: 100%;
    display: flex;
    gap: calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
    font-style: normal;
    align-items: flex-start;
    max-height: calc(var(--font-bigger) * 4);
    position: relative;
}

.top-picks > a > section > cite > h1 {
    margin: 0;
    padding: 0;
    font-size: var(--font-big);
    font-weight: 200;
    color: var(--post-text-color);
}

.top-picks > a > section > cite > span {
    margin: 0;
    padding: 0 calc(var(--font-tiny) / 2) 0 0;
    box-sizing: border-box;
    font-size: var(--font-medium);
    font-weight: 300;
    overflow: hidden;
    color: var(--post-text-color-faded);
    overflow: auto;
    pointer-events: all !important;
    text-align: justify;
}

.top-picks > a > section > cite::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - (var(--font-tiny) / 2));
    height: 50%;
    z-index: 1;
    background: linear-gradient(transparent, var(--post-background-color));
}

.top-picks > a > section > cite > span::-webkit-scrollbar {
    width: calc(var(--font-tiny) / 2);
}

.top-picks > a > section > cite > span::-webkit-scrollbar-thumb {
    background-color: var(--post-mid-color);
    border-radius: 4px;
}

.top-picks > a > section > cite > span::-webkit-scrollbar-thumb {
    background-color: var(--post-mid-color);
    display: none;
}

.top-picks > a > section > cite > span::-webkit-scrollbar-thumb:hover {
    background-color: var(--post-text-color-faded);
}


.top-picks > a:hover > section > cite > span::-webkit-scrollbar-thumb {
    display: block;
}

.top-picks > a > div {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0;
    gap: calc(var(--font-tiny) / 2);
}

.top-picks > a > div > label:nth-child(1) {
    width: calc(var(--font-bigger) * 4);
    background-color: transparent;
    border: 1px solid var(--post-text-color-faded);
    padding: calc(var(--font-tiny)/2) 0;
    border-radius: 2px;
    color: var(--post-text-color-faded);
    box-sizing: border-box;
    font-size: var(--font-smaller);
    text-align: center;
}

.top-picks > a > div > label {
    padding: calc(var(--font-tiny) / 2) var(--font-tiny);
    box-sizing: border-box;
    background-color: var(--post-mid-color);
    color: var(--post-text-color);
    font-size: var(--font-small);
    border-radius: 2px;
}

.blog-content-title {
    width: 100%;
    border-bottom: 1px solid var(--main-fade-color);
    padding: 0 0 calc(var(--font-tiny) / 2) 0;
    margin: 0 0 calc(var(--font-tiny) / 2) 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-content-title > div {
    color: var(--main-text-color);
    font-size: var(--font-big);
    font-family: var(--font-light);
    padding: 0;
    margin: 0;
}

.blog-content-title > section {
    padding: 0;
    gap: var(--font-tiny);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.blog-content-title > section::before {
    content: '📦️';
    color: var(--main-text-color);
    font-size: var(--font-small);
    align-self: center;
}


.blog-content-title > section > button{
    color: var(--main-text-color);
    background-color: transparent;
    font-size: var(--font-small);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.blog-content-title > section > button:hover{
    text-decoration: underline solid;
}

.blog-content {
    width: 100%;
    max-width: var(--content-width-limit);
    display: flex;
    gap: var(--font-tiny);
    box-sizing: border-box;
    flex-wrap: wrap;
    align-self: center;
    padding: var(--font-tiny);
}

.blog-content > .left{
    width: 240px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--font-tiny);
}

.blog-content > .left > .tags {
    background-color: var(--post-background-color);
    border: 1px solid var(--main-fade-color);
    padding: var(--font-tiny);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--font-tiny) / 2);
    border-radius: 4px;
}

.blog-content > .left > .tags > a {
    flex: 1 1;
    padding: calc(var(--font-tiny) / 2) calc(var(--font-tiny) / 2) calc(var(--font-tiny) / 2) var(--font-tiny);
    background-color: var(--post-mid-color);
    color: var(--post-text-color);
    border-radius: 2px;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    gap: var(--font-tiny);
    text-decoration: none;
    box-sizing: border-box;
}

.blog-content > .left > .tags > a > * {
    pointer-events: none;
}

.blog-content > .left > .tags >  a::after {
    content: var(--count, "1");
    padding: calc(var(--font-tiny) / 4) calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    font-size: var(--font-smaller);
    background-color: var(--post-fade-color);
    color: var(--post-text-color-faded);
    border-radius: 2px;
}

.blog-content > .left > .tags >  a:hover {
    background-color: var(--post-text-color-faded);
    color: var(--post-background-color);
}

.blog-content > .left > .tags >  a:hover::after {
    color: var(--post-text-color);
    background-color: var(--post-background-color);
}

.blog-content > .posts {
    flex: 1 1;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--font-tiny);
    flex-direction: column;
}

.blog-content > .posts > section{
    flex: 1 1;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: var(--font-tiny);
    --posts-count-in-row: 3;
}

.blog-content > .posts > section > a {
    --padding: calc(var(--font-tiny) / 2);
    --width: calc(
        (100% - 
                ((var(--posts-count-in-row) - 1) * var(--font-tiny))
                ) / var(--posts-count-in-row));
    --inner-width: calc(var(--width) - (var(--padding) * 2));
    width: var(--width);
    background-color: var(--post-background-color);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    gap: calc(var(--font-tiny) / 2);
    border-radius: 4px;
    border: 1px solid var(--main-fade-color);
    transition-duration: 0.15s;
}

.blog-content > .posts > section > a > * {
    pointer-events: none;
}

.blog-content > .posts > section > a:hover {
    border-color: var(--post-text-color-faded);
    border-radius: 0;
}

.blog-content > .posts > section > a > section:nth-of-type(1) {
    aspect-ratio: 1 / 1;
    padding: var(--font-tiny);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: calc(var(--font-tiny) / 2);
    justify-content: stretch;
}

.blog-content > .posts > section > a > section:nth-of-type(1) > img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
}

.blog-content > .posts > section > a > section:nth-of-type(1) > label {
    width: max-content;
    background-color: var(--post-background-color);
    color: var(--post-text-color);
    opacity: 50%;
    padding: calc(var(--font-tiny) / 4) calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: var(--font-smaller);
    transition-duration: 0.1s;
    border: 1px solid var(--post-text-color);
}

.blog-content > .posts > section > a:hover > section:nth-of-type(1) > label {
    opacity: 75%;
}


.blog-content > .posts > section > a > section:nth-of-type(2) {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-content > .posts > section > a > section:nth-of-type(2) > cite {
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--font-tiny) / 2);
    font-style: normal;
    max-height: calc(var(--font-medium) * 6);
    overflow: hidden;
    position: relative;
}

.blog-content > .posts > section > a > section:nth-of-type(2) > cite::after {
    content: "";
    width: 100%;
    height: calc(var(--font-medium) * 2);
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(transparent, var(--post-background-color));
}

.blog-content > .posts > section > a > section:nth-of-type(2) > cite > h1 {
    width: 100%;
    font-size: var(--font-big);
    color: var(--post-text-color);
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.blog-content > .posts > section > a > section:nth-of-type(2) > cite > span {
    width: 100%;
    font-size: var(--font-medium);
    color: var(--post-text-color-faded);
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.blog-content > .posts > section > a > section:nth-of-type(2) > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    padding-top: calc(var(--font-tiny) / 2);
    justify-content: stretch;
}


.blog-content > .posts > section > a > section:nth-of-type(2) > div > label {
    flex: 1 1;
    background-color: var(--post-fade-color);
    color: var(--post-text-color-faded);
    padding: calc(var(--font-tiny) / 2) var(--font-tiny);
    font-size: var(--font-small);
    border-radius: 2px;
    transition-duration: 0.1s;
    white-space: nowrap;
}

.blog-content > .posts > section > a:hover > section:nth-of-type(2) > div > label {
    background-color: var(--post-mid-color);
    color: var(--post-text-color);
}