@import 'fonts.css';
@import 'themes.css';
@import 'primary.css';
@import 'scaling.css';

:root {
    --content-width-limit: 1200px;
}

* {
    font-family: var(--font);
    font-size: var(--font-medium);
    direction: var(--text-direction);
}