body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.spacer {
    flex: 1 1;
    justify-self: stretch;
}

.upper-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
}

.feed {
    width: 100%;
    height: auto;
    background-color: var(--feed-background-color);
    padding: var(--font-tiny);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.feed > section{
    width: 100%;
    max-width: var(--content-width-limit);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--font-tiny);
    justify-content: flex-end;
}

.feed > section{
    width: 100%;
    max-width: var(--content-width-limit);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--font-tiny);
}

.feed > section > a{
    width: auto;
    color: var(--feed-text-color-faded);
    text-decoration: none;
    cursor: pointer;
}

.feed > section > a:hover{
    color: var(--feed-text-color);
}

.feed > section > hr{
    width: 1px;
    box-sizing: border-box;
    border: none;
    border-right: 1px dashed var(--feed-text-color-faded);
    margin: 0 var(--font-tiny);
}
.feed > section > .item > ul {
    display: none;
}

.feed > section > .item:hover > ul {
    display: flex;
}

.feed > section > .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    color: var(--feed-text-color-faded);
    align-items: center;
    cursor: pointer;
}

.feed > section > .item:hover {
    color: var(--feed-text-color);
}

.feed > section > .item > button {
    background: none;
    width: auto;
    border: none;
    color: inherit;
    display: flex;
    gap: calc(var(--font-tiny) / 2);
    cursor: inherit;
    font-size: var(--font-small);
}

.feed > section > .item > .image {
    background: none;
    width: var(--font-big);
    height: var(--font-big);
	color: inherit;
	border: none;
	padding: 0;
    align-self: center;
}


.feed > section > .item > .image::before {
    content:"";
    display:block;
    height:100%;
    background-color: currentColor;
    -webkit-mask-image: var(--src);
    -webkit-mask-size: cover;
  }

.topbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: calc(var(--font-bigger) * 3);
    padding: var(--font-tiny);
    background-color: var(--topbar-background-color);
    color: var(--topbar-text-color);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    z-index: 8;
    overflow: hidden;
}

.topbar > section{
    width: 100%;
    max-width: var(--content-width-limit);
    display: flex;
    gap: var(--font-tiny);
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
}

.topbar > section > .logo {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(var(--font-small) + var(--font-big) + 6px);
    width: auto;
    padding: 0;
    margin: 0;
    gap: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.topbar > section > .logo::before {
    content: "Muhammad Ali";
    color: var(--topbar-text-color-faded);
    font-size: var(--font-small);
    text-align: center;
}

.topbar > section > .logo::after {
    content: "KALANTARI";
    color: var(--topbar-text-color);
    font-size: var(--font-big);
    text-align: center;
}

.topbar > section > .logo:hover::before
{
    content: "KALANTARI";
    color: var(--topbar-text-color);
    font-size: var(--font-big);
}

.topbar > section > .logo:hover::after
{
    content: "Muhammad Ali";
    color: var(--topbar-text-color-faded);
    font-size: var(--font-small);
}

.topbar > section > .mid::before {
    content: "[ ";
}
.topbar > section > .mid {
    flex: 1 1;
    font-family: Inter-Light;
    font-size: var(--font-big);
    display: flex;
    gap: var(--font-tiny);
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--topbar-text-color-faded);

}

.topbar > section > .mid::after {
    content: " ]";
}

.topbar > section > .mid > button {
    border: none;
    white-space: nowrap;
    background: none;
    color: var(--topbar-text-color-faded);
    font-size: var(--font-big);
    cursor: pointer;
    padding: 0;
    margin: 0;
}

hr.dash {
    margin: none;
    padding: none;
    border: none;
    border-right: 1px solid var(--topbar-text-color);
    width: 1px;
    height: 15%;
    transform: rotateZ(45deg);
}

.topbar > section > .mid > button:hover {
    color: var(--topbar-text-color);
}

.topbar > section > button {
    border: 1px solid var(--topbar-text-color-faded);
    border-radius: 2px;
    background: none;
    padding: calc(var(--font-tiny) / 2) var(--font-huge);
    font-size: var(--font-medium);
    color: var(--topbar-text-color-faded);
    cursor: pointer;
    position: relative;
}

.topbar > section > button::before {
    content: "";
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: var(--topbar-text-color);
    transition-duration: 0.2s;
    border-radius: 2px;
    z-index: -1;
}

.topbar > section > button:hover::before {
    width: 100%;
}

.topbar > section > button:hover {
    border-color: var(--topbar-text-color);
    color: var(--topbar-background-color);
}

@keyframes header-background-image-anim {
    0% {
        background-image: var(--header-bg1);
    }
    25% {
        background-image: var(--header-bg2);
    }
    50% {
        background-image: var(--header-bg3);
    }
    75% {
        background-image: var(--header-bg4);
    }
    100% {
        background-image: var(--header-bg1);
    }
}

@keyframes header-background-position-anim {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -100%;
    }
}
.header {
    width: 100%;
    padding: calc(var(--font-tiny) / 2 + 2px);
    background-color: var(--header-background-color);
    animation: header-background-image-anim 4s infinite linear,
    var(--header-move-anim-check, header-background-position-anim) 32s infinite linear;
    background-size: calc(var(--font-big) * 2) calc(var(--font-big) * 2) ;
    background-position-y: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 400px;
    box-shadow: inset 0 8px 32px -4px var(--header-background-color); 
    position: relative;
}

.header:hover {
    background-image: url(../assets/images/header-bg2.svg);
}

.header > .cover{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(0deg, var(--header-shade-start-color) 0, var(--header-shade-end-color) 100%);
    z-index: 0;
}

.header > section {
    width: 100%;
    max-width: var(--content-width-limit);
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}

.header > section > .header-spacer {
    height: 25%;
    transition-duration: 0.5s;
}

.header > section > cite{
    align-self: center;
    font-style: normal;
    color: var(--header-text-color);
    text-shadow: 0 0 4px 2px black; 
    user-select: none;
    position: absolute;
    left: var(--transformX-amount, 50%);
    top: var(--transformY-amount, 100px);
    transform: translateX(var(--transformX-check, -50%));
    width: max-content;
}


.header > section > cite > span:nth-of-type(1){
    font-size: var(--font-small);
    opacity: 75%;
    font-weight: 100;
}

.header > section > cite > span:nth-of-type(2){
    font-size: var(--font-medium);
    font-weight: 400;
    cursor: pointer;
}

.header > section > cite > span:nth-of-type(3){
    font-size: var(--font-huge);
    letter-spacing: 6px;
    font-weight: 400;
}

.header > section > cite > span:nth-of-type(4){
    font-size: var(--font-medium);
    opacity: 75%;
}

.header > section > cite > .buttons{
    display: flex;
    justify-content: center;
    gap: calc(var(--font-tiny) / 2);
    margin-top: var(--font-huge);
}

.header > section > cite > .buttons > button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background-color: var(--header-text-color);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition-duration: 0.2s;
}

.header > section > cite > .buttons > button:hover::before {
    height: 100%;
}


.header > section > cite > .buttons > button {
    border: 1px solid var(--header-text-color);
    border-radius: 4px;
    background: none;
    padding: calc(var(--font-tiny) / 2) calc(var(--font-big) * 2);
    font-size: var(--font-medium);
    color: var(--header-text-color);
    cursor: pointer;
    position: relative;
}

.header > section > cite > .buttons > button:hover {
    color: var(--header-background-color);

}


.header > section > footer{
    margin: 0;
    padding: 0;
    color: var(--header-text-color);
    padding: var(--font-big);
    box-sizing: border-box;
    font-size: var(--font-big);
    font-family: inter-light;
    opacity: 0.66;
    user-select: none;
    transition-duration: 0.75s;
    position: absolute;
    bottom: var(--font-tiny);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.header > section > footer:hover{
    letter-spacing: 2px;
    opacity: 1;
}


.scrollbar {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-end;
    top: calc(var(--font-bigger) * 3);
    height: calc(var(--font-tiny) / 2);
    background-color: var(--scrollbar-background-color);
    border-bottom: 1px solid var(--scrollbar-background-color);

}

.scrollbar > div {
    width: 0;
    height: 100%;
    background-color: var(--scrollbar-bar-color);
    margin: 0;
    transition-duration: 0.25s;
}

.section-title {
    width: 100%;
    color: var(--main-text-color);
    border-bottom: 1px solid var(--main-fade-color);
    font-size: var(--font-big);
    font-family: inter-light;
    padding: 0 0 calc(var(--font-tiny) / 2) 0;
    margin: 0 0 calc(var(--font-tiny) / 2) 0;
    box-sizing: border-box;
}

.upper {
    display: flex;
    flex-direction: row;
    gap: var(--font-tiny);
    flex-wrap: nowrap;
    align-self: center;
    width: 100%;
    max-width: var(--content-width-limit);
    margin-top: var(--font-huge);
    padding: var(--font-tiny);
    box-sizing: border-box;
}

.upper > .from-blog {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: calc(var(--font-tiny) / 2);
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.upper > .from-blog > a {
    background-color: var(--post-background-color);
    border: 1px solid var(--main-fade-color);
    border-radius: 4px;
    padding: calc(var(--font-tiny) / 2);
    box-sizing: border-box;
    text-decoration: none;
    color: var(--post-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc(var(--font-tiny) / 2);
    transition-duration: 0.1s;

}
.upper > .from-blog > a > * {
    pointer-events: none;
}

.upper > .from-blog > a:hover {
    border-color: var(--main-text-color);
}


.upper > .from-blog > a > section {
    display: flex;
    gap: calc(var(--font-tiny) / 2);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.upper > .from-blog > a > section > img{
    width: calc(var(--font-huge) * 3);
    height: calc(var(--font-huge) * 3);
    border-radius: 4px;
    padding: calc(var(--font-tiny) / 4);
    box-sizing: border-box;
    margin: 0;
    align-self: flex-start;
    transition-duration: .2s;
}

.upper > .from-blog > a:hover > section > img {
    padding: 0;
}

.upper > .from-blog > a > section > label {
    margin-top: auto;
    border: 1px solid var(--post-text-color-faded);
    width: 100%;
    padding: calc(var(--font-tiny)/6) calc(var(--font-tiny)/2);
    border-radius: 4px;
    color: var(--post-text-color-faded);
    box-sizing: border-box;
    font-size: var(--font-small);
    text-align: center;
}

.upper > .from-blog > a > cite{
    display: flex;
    gap: calc(var(--font-tiny) / 2);
    flex-direction: column;
    font-style: normal;
    box-sizing: border-box;
}

.upper > .from-blog > a > cite > h1{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    color: var(--post-text-color);
    font-weight: 300;
    transition-duration: 0.2s;
}

.upper > .from-blog > a > cite > span{
    width: 100%;
    height: auto;
    color: var(--post-text-color-faded);
    margin: 0;
    padding: 0;
    font-weight: 200;
}

.upper > .about{
    display: flex;
    min-width: 320px;;
    flex: 1 1;
    flex-direction: column;
    gap: calc(var(--font-tiny) / 2);
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: max-content;
}

.upper > .about > section{
    flex: 1 1;
    background-color: var(--post-background-color);
    border: 1px solid var(--main-fade-color);
    border-radius: 4px;
    padding: calc(var(--font-tiny) / 2);
    box-sizing: border-box;
}


.projects {
    width: 100%;
    max-width: var(--content-width-limit);
    padding: var(--font-tiny);
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--font-tiny);
    margin: none;
    list-style: none;
    align-items: stretch;
}

.projects > li{
    flex: 1 1;
    min-width: 320px;
    min-height: 200px;
    background-color: var(--post-background-color);
    border: 1px solid var(--main-fade-color);
    padding: var(--font-tiny);
    border-radius: 4px;
}




.list {
    width: auto;
    min-width: 120px;
    height: max-content;
    background-color: var(--main-background-color);
    border: 1px solid var(--main-fade-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: fixed;
    list-style: none;
    padding: 0;
    z-index: 1;
    transform: translate(0, 50%);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.list > label{
    width: 100%;
    color: var(--main-text-color);
    padding: 2px 8px;
    box-sizing: border-box;
    height: auto;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.list > li{
    width: 100%;
    color: var(--main-text-color);
    padding: 2px 8px;
    box-sizing: border-box;
    height: auto;
}

.list > li:hover{
    color: var(--main-text-color);
    background-color: var(--main-fade-color);
}