@media (max-width: 719px) {
    .topbar{
        margin-left: 0;
    }

    .topbar > section > .mid::after {
        content: "";
        width: 0;
    }

    .topbar > section > .mid::before {
        content: "";
        width: 0;
    }

    .auto-hide {
        display: none !important;
    }

    .auto-wrap {
        flex-wrap: wrap !important;
    }

    .auto-fill-width {
        width: 100% !important;
    }

    .blog-content > .posts > section > a {
        flex-direction: row !important;
    }

    .blog-content > .posts > section > a > section:nth-of-type(1) {
        width: 120px;
    }

    .blog-content > .posts > section > a > section:nth-of-type(1) {
        width: 120px;
    }

    .blog-content > .posts > section > a > section:nth-of-type(1) > label {
        display: none !important;
    }
    
    .post > section > div.top{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start !important;
    }

    .post > section > cite > img{
        width: 100% !important;
        height: auto !important;
    }

    .post > section > cite {
        flex-direction: column !important;
    }

    .post > section > cite > section > section:nth-of-type(2){
        height: calc(var(--font-huge) * 6) !important;
        flex: unset !important;
    }
}

@media (min-width: 720px) {

}