@media (max-width: 719px) {
    .topbar{
        margin-left: 0;
    }

    .topbar > section > .mid::after {
        content: "";
        width: 0;
    }

    .topbar > section > .mid::before {
        content: "";
        width: 0;
    }

    .auto-hide {
        display: none !important;
    }

    .auto-wrap {
        flex-wrap: wrap !important;
    }

    .auto-fill-width {
        width: 100% !important;
    }

    .blog-content > .posts > a{
        flex-direction: row;
    }
}

@media (min-width: 720px) {

}