@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 100;
  src: url("../resources/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 100;
  src: url("../resources/fonts/BYekan.ttf");
}

@font-face {
  font-family: irsans;
  font-style: normal;
  font-weight: 100;
  src: url("../resources/fonts/IrSans.ttf");
}